<h1 style="text-align:center"> 신이 나를 만들때</h1>
<div class="intro"> 
<img src="http://lh3.googleusercontent.com/OOBn4wU-SrTCl2uHHfqY3Xkgy8-SU_tXTmsikUc1usJ44kr2033tq0FRLoJILrlM0oRdczNl8Yx_Qf53YWZUJqEGaz9S2rpTng=s640-l65" style="margin-left: auto; margin-right: auto; display: block">
<form action="/home/result" style="text-align:center">
    
  이름을 입력해주세요.<br>
  <input type="text" name="username"><br>

  <input type="submit" value="결과보러가기">
</form>
</div>